*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --stone-color-100: hsl(30, 54%, 90%);
  --stone-color-150: hsl(30, 18%, 87%);
  --stone-color-600: hsl(30, 10%, 34%);
  --stone-color-900: hsl(24, 5%, 18%);

  --brown-color-800: hsl(14, 45%, 36%);

  --rose-color-800: hsl(332, 51%, 32%);
  --rose-color-50: hsl(330, 100%, 98%);
  --white-color: hsl(0, 0%, 100%);

  --fs-h1: clamp(2rem, 1.8571428571428572rem + 0.7142857142857143vw, 2.5rem);
  --fs-h2: clamp(
    1.5rem,
    1.4285714285714286rem + 0.35714285714285715vw,
    1.75rem
  );
}

body {
  font-family: "Outfit", serif;
  background-color: var(--stone-color-100);
  color: var(--stone-color-600);
  line-height: 1.6;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 500;
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Utility classes */
.brown-text-color {
  font-weight: 700;
  color: var(--brown-color-800);
}

.recipe__wrapper {
  padding-block: 2rem;
  border-bottom: 1px solid #ccc;
}

.wrapper {
  margin-inline: 2.5rem;
}

.recipe {
  max-width: 50rem;
  background-color: var(--white-color);
  border-radius: 24px;
  margin: 7rem auto;
}

.recipe__image-wrapper {
  padding: 2.5rem;
}

.recipe__image-wrapper img {
  border-radius: 18px;
}

.recipe__title {
  font-size: var(--fs-h1);
  margin-block-end: 1rem;
  color: var(--stone-color-900);
}

.recipe__description {
  margin-block-end: 2rem;
}

.recipe__prep-time-wrapper {
  background-color: var(--rose-color-50);
  padding: 1.5rem 2rem;
  border-radius: 10px;
}

.recipe__prep-time-title {
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  color: var(--rose-color-800);
  margin-block-end: 0.5rem;
}

.recipe__prep-time-list {
  padding-inline-start: 1.4rem;
}

.recipe__prep-time-item {
  padding-inline-start: 1rem;
}

.recipe__prep-time-item::marker {
  color: var(--rose-color-800);
}

.recipe__sub-title {
  color: var(--brown-color-800);
  font-size: var(--fs-h2);
  margin-block-end: 0.5rem;
}

.recipe__ingredients-list-item,
.recipe__instructions-list-item {
  margin-inline-start: 1.5rem;
  padding-inline-start: 1.5rem;
  padding-block: 5px;
}

.recipe__ingredients-list-item::marker {
  color: var(--rose-color-800);
}

.recipe__instructions-list-item::marker {
  color: var(--brown-color-800);
  font-weight: 700;
}

.recipe__nutrition-description {
  margin-block-end: 1rem;
}

.recipe__nutrition-list {
  list-style: none;
}

.recipe__nutrition-list-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline-start: 2rem;
  padding-block: 7px;
  border-bottom: 1px solid #ccc;
}

.recipe__wrapper:last-of-type,
.recipe__nutrition-list-item:last-of-type {
  border-bottom: none;
}

/* Media Query */
@media (max-width: 48rem) {
  .recipe {
    margin-block: 0;
  }

  .wrapper {
    margin-inline: 1.5rem;
  }

  .recipe__image-wrapper {
    padding: 0;
    margin-block-end: 1rem;
  }

  .recipe__image-wrapper img {
    border-radius: 0;
  }
}
